# Import modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import datetime

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
# ex: from src.create_model_pickle import *

# Import data

In [4]:
# Use our json to dataframe conversion class
from src.pipeline import pipeline_json
pj = pipeline_json('../data/data.json')

In [6]:
df = pj.convert_to_df()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14337 entries, 0 to 14336
Data columns (total 49 columns):
acct_type             14337 non-null object
approx_payout_date    14337 non-null datetime64[ns]
body_length           14337 non-null int64
channels              14337 non-null int64
country               14256 non-null object
currency              14337 non-null object
delivery_method       14321 non-null float64
description           14337 non-null object
email_domain          14337 non-null object
event_created         14337 non-null datetime64[ns]
event_end             14337 non-null datetime64[ns]
event_published       14238 non-null datetime64[ns]
event_start           14337 non-null datetime64[ns]
fb_published          14337 non-null bool
gts                   14337 non-null float64
has_analytics         14337 non-null bool
has_header            14337 non-null float64
has_logo              14337 non-null bool
listed                14337 non-null int64
name                  14337 non-null object
name_length           14337 non-null int64
num_order             14337 non-null int64
num_payouts           14337 non-null int64
object_id             14337 non-null int64
org_desc              14337 non-null object
org_facebook          14278 non-null float64
org_name              14337 non-null object
org_twitter           14278 non-null float64
payee_name            14337 non-null object
payout_type           14337 non-null int64
previous_payouts      14337 non-null object
sale_duration         14182 non-null float64
sale_duration2        14337 non-null int64
show_map              14337 non-null bool
ticket_types          14337 non-null object
user_age              14337 non-null int64
user_created          14337 non-null datetime64[ns]
user_type             14337 non-null int64
venue_address         14337 non-null object
venue_country         13261 non-null object
venue_latitude        13261 non-null float64
venue_longitude       13261 non-null float64
venue_name            13261 non-null object
venue_state           13261 non-null object
fraud                 14337 non-null bool
short_description     14337 non-null bool
total_payout          14337 non-null float64
payout_count          14337 non-null int64
payees_set            14337 non-null object
dtypes: bool(6), datetime64[ns](6), float64(9), int64(12), object(16)
memory usage: 4.9+ MB

date_cols = ['approx_payout_date', 'event_created', 'event_created', 'event_end', \
                     'event_published', 'event_start', 'user_created']

for col in date_cols:
    print df[col][:5] - df['user_created'][:5]

In [ ]:
df['has_header'][:10]

a = df['event_published'][:5] - df['user_created'][:5]
a.var

i=12
total_payout = 0
payout_count = len(df['previous_payouts'][i])
payees = set()
for d in df['previous_payouts'][i]:
    total_payout += d['amount']
    payees.add(d['name'])
print total_payout, payout_count, payees

In [ ]:
a = set()

In [8]:
df['total_pa'][:20]

0        0
1       49
2       36
3       21
4       49
5        5
6       15
7      470
8        2
9      470
10      96
11     262
12      50
13      63
14       8
15    1264
16    1264
17       1
18      11
19      11
Name: payout_count, dtype: int64