# Import modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import datetime

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
# ex: from src.create_model_pickle import *

# Import data

In [3]:
# Use our json to dataframe conversion class
from src.pipeline import pipeline_json
pj = pipeline_json('../data/data.json')

In [50]:
df = pj.convert_to_df(scaling=True, filtered=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14337 entries, 0 to 14336
Data columns (total 15 columns):
fraud                  14337 non-null bool
short_description      14337 non-null bool
payout_type            14337 non-null int64
fb_published           14337 non-null bool
org_facebook           14337 non-null float64
has_analytics          14337 non-null float64
has_header             14337 non-null float64
org_twitter            14337 non-null float64
account_life           14337 non-null float64
event_life             14238 non-null float64
eu_currency            14337 non-null int64
payout_count           14337 non-null float64
total_payout           14337 non-null float64
ticket_sales_amount    14337 non-null float64
ticket_sales_count     14337 non-null int64
dtypes: bool(3), float64(9), int64(3)
memory usage: 1.5 MB

/Users/wallace/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype bool was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)
/Users/wallace/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

In [49]:
df.describe()

,payout_type,org_facebook,has_header,org_twitter,account_life,event_life,eu_currency,payout_count,total_payout,ticket_sales_amount,ticket_sales_count
count,14337.000000,14337.000000,14337.000000,14337.000000,14337.000000,14238.000000,14337.000000,14337.000000,1.433700e+04,14337.000000,14337.000000
mean,0.965613,7.937504,-0.251447,4.285136,373.823185,56.684015,0.173258,76.548232,8.554607e+04,2611.657684,67.522843
std,0.182226,11.751069,0.663256,6.008750,418.512838,977.609649,0.378483,239.040733,4.902922e+05,12919.591558,350.319206
min,0.000000,-1.000000,-1.000000,-1.000000,0.000000,-601.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,1.000000,0.000000,-1.000000,0.000000,12.000000,-1.000000,0.000000,2.000000,6.205000e+02,75.000000,3.000000
50%,1.000000,0.000000,0.000000,0.000000,241.000000,-1.000000,0.000000,8.000000,5.145000e+03,345.000000,14.000000
75%,1.000000,14.000000,0.000000,11.000000,602.000000,-1.000000,0.000000,36.000000,3.100745e+04,1356.120000,45.000000
max,1.000000,91.000000,1.000000,34.000000,3793.000000,15980.000000,1.000000,2048.000000,1.463508e+07,814477.960000,20020.000000

In [51]:
df.describe()

,payout_type,org_facebook,has_analytics,has_header,org_twitter,account_life,event_life,eu_currency,payout_count,total_payout,ticket_sales_amount,ticket_sales_count
count,14337.000000,1.433700e+04,1.433700e+04,14337.000000,1.433700e+04,1.433700e+04,14238.000000,14337.000000,1.433700e+04,1.433700e+04,14337.000000,14337.000000
mean,0.965613,-8.005345e-16,9.346642e-16,-0.251447,7.391885e-16,2.965706e-16,56.684015,0.173258,1.126291e-16,7.708140e-17,2611.657684,67.522843
std,0.182226,1.000035e+00,1.000035e+00,0.663256,1.000035e+00,1.000035e+00,977.609649,0.378483,1.000035e+00,1.000035e+00,12919.591558,350.319206
min,0.000000,-7.605960e-01,-2.806796e-01,-1.000000,-8.796040e-01,-8.932491e-01,-601.000000,0.000000,-3.202421e-01,-1.744858e-01,0.000000,0.000000
25%,1.000000,-6.754944e-01,-2.806796e-01,-1.000000,-7.131743e-01,-8.645752e-01,-1.000000,0.000000,-3.118750e-01,-1.732202e-01,75.000000,3.000000
50%,1.000000,-6.754944e-01,-2.806796e-01,0.000000,-7.131743e-01,-3.173805e-01,-1.000000,0.000000,-2.867738e-01,-1.639917e-01,345.000000,14.000000
75%,1.000000,5.159282e-01,-2.806796e-01,0.000000,1.117553e+00,5.452277e-01,-1.000000,0.000000,-1.696349e-01,-1.112408e-01,1356.120000,45.000000
max,1.000000,7.068752e+00,3.562781e+00,1.000000,4.945438e+00,8.170110e+00,15980.000000,1.000000,8.247634e+00,2.967627e+01,814477.960000,20020.000000

date_cols = ['approx_payout_date', 'event_created', 'event_created', 'event_end', \
                     'event_published', 'event_start', 'user_created']

for col in date_cols:
    print df[col][:5] - df['user_created'][:5]

In [ ]:
df['has_header'][:10]

a = df['event_published'][:5] - df['user_created'][:5]
a.var

i=12
total_payout = 0
payout_count = len(df['previous_payouts'][i])
payees = set()
for d in df['previous_payouts'][i]:
    total_payout += d['amount']
    payees.add(d['name'])
print total_payout, payout_count, payees

In [ ]:
a = set()

In [ ]:
df['ticket_types'][0][0].keys()

In [ ]:
Counter(df['fraud'])

In [40]:
col = 'ticket_sales_amount'
print col
print "fraud :", df[df['fraud'] == True][col].mean()
print "not fraud :", df[df['fraud'] == False][col].mean()

ticket_sales_amount
fraud : 461.793078113
not fraud : 2824.76523842

In [41]:
col = 'ticket_sales_count'
print col
print "fraud :", df[df['fraud'] == True][col].mean()
print "not fraud :", df[df['fraud'] == False][col].mean()

ticket_sales_count
fraud : 4.08120649652
not fraud : 73.8115608709

In [46]:

col = 'body_length'
print col
print "fraud :", df[df['fraud'] == True][col].mean()
print "not fraud :", df[df['fraud'] == False][col].mean()

body_length
fraud : 1508.8863109
not fraud : 3886.99455688

In [10]:
df['short_description'][:10]

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: short_description, dtype: bool

In [11]:
df['body_length'][:10]

0     3852
1     3499
2     2601
3    12347
4     2417
5      117
6       28
7      974
8     4388
9      974
Name: body_length, dtype: int64

In [13]:
Counter(df['currency'])

Counter({u'AUD': 779,
         u'CAD': 1322,
         u'EUR': 262,
         u'GBP': 2222,
         u'MXN': 1,
         u'NZD': 55,
         u'USD': 9696})

In [24]:
# table = pivot_table(df, values='D', index=['A', 'B'],
# ...                     columns=['C'], aggfunc=np.sum)
table = pd.pivot_table(df, columns=['currency'], values=['fraud'], aggfunc=np.mean)
print table

currency       AUD      CAD       EUR       GBP  MXN  NZD      USD
fraud     0.015404  0.03177  0.141221  0.154365  1.0  0.0  0.08849

In [23]:
Counter(df['currency'])

Counter({u'AUD': 779,
         u'CAD': 1322,
         u'EUR': 262,
         u'GBP': 2222,
         u'MXN': 1,
         u'NZD': 55,
         u'USD': 9696})

In [39]:
col = 'ticket_sales_events'
print col
print "fraud :", (df[df['fraud'] == True]['event_created'] - df[df['fraud'] == True]['user_created']).mean()
print "not fraud :", (df[df['fraud'] == False]['event_created'] - df[df['fraud'] == False]['user_created']).mean()

ticket_sales_events
fraud : 87 days 03:23:02.605568
not fraud : 402 days 16:24:23.307267

In [30]:
col = 'has_analytics'
print col
print "fraud :", (df[df['fraud'] == True][col]).mean()
print "not fraud :", (df[df['fraud'] == False][col]).mean()

has_analytics
fraud : 0.0030935808198
not fraud : 0.0799601349279

    eu_currency currency
0             0      USD
1             0      USD
2             0      USD
3             1      EUR
4             0      USD
5             0      USD
6             0      USD
7             0      USD
8             0      USD
9             0      USD
10            0      USD
11            0      USD
12            0      USD
13            0      USD
14            0      USD
15            0      USD
16            0      USD
17            0      USD
18            0      USD
19            0      USD
20            1      EUR
21            0      USD
22            0      USD
23            0      USD
24            0      USD
25            0      USD
26            0      USD
27            0      USD
28            0      USD
29            0      USD
30            0      USD
31            0      USD
32            0      USD
33            0      USD
34            0      USD
35            0      CAD
36            0      USD
37            0      USD
38            0      USD
39            0      USD
40            0      USD
41            0      USD
42            0      USD
43            0      USD
44            1      GBP
45            0      USD
46            0      USD
47            0      USD
48            0      USD
49            0      USD