# Import modules

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import datetime

In [63]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from src.create_model_pickle import *

In [66]:
from src.pipeline import pipeline_json
pj = pipeline_json('../data/data.json')

In [67]:
df = pj.convert_to_df()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14337 entries, 0 to 14336
Data columns (total 44 columns):
acct_type             14337 non-null object
approx_payout_date    14337 non-null datetime64[ns]
body_length           14337 non-null int64
channels              14337 non-null int64
country               14256 non-null object
currency              14337 non-null object
delivery_method       14321 non-null float64
description           14337 non-null object
email_domain          14337 non-null object
event_created         14337 non-null datetime64[ns]
event_end             14337 non-null datetime64[ns]
event_published       14238 non-null datetime64[ns]
event_start           14337 non-null datetime64[ns]
fb_published          14337 non-null int64
gts                   14337 non-null float64
has_analytics         14337 non-null int64
has_header            8928 non-null float64
has_logo              14337 non-null int64
listed                14337 non-null object
name                  14337 non-null object
name_length           14337 non-null int64
num_order             14337 non-null int64
num_payouts           14337 non-null int64
object_id             14337 non-null int64
org_desc              14337 non-null object
org_facebook          14278 non-null float64
org_name              14337 non-null object
org_twitter           14278 non-null float64
payee_name            14337 non-null object
payout_type           14337 non-null object
previous_payouts      14337 non-null object
sale_duration         14182 non-null float64
sale_duration2        14337 non-null int64
show_map              14337 non-null int64
ticket_types          14337 non-null object
user_age              14337 non-null int64
user_created          14337 non-null datetime64[ns]
user_type             14337 non-null int64
venue_address         14337 non-null object
venue_country         13261 non-null object
venue_latitude        13261 non-null float64
venue_longitude       13261 non-null float64
venue_name            13261 non-null object
venue_state           13261 non-null object
dtypes: datetime64[ns](6), float64(8), int64(13), object(17)
memory usage: 4.9+ MB

# Import data

In [48]:
df = pd.read_json('../data/data.json')

In [52]:
#Convert date columns to datetime format
date_cols = ['approx_payout_date', 'event_created', 'event_created', 'event_end', \
             'event_published', 'event_start', 'user_created']
for col in date_cols:
    df[col] = pd.to_datetime(df[col])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14337 entries, 0 to 14336
Data columns (total 44 columns):
acct_type             14337 non-null object
approx_payout_date    14337 non-null datetime64[ns]
body_length           14337 non-null int64
channels              14337 non-null int64
country               14256 non-null object
currency              14337 non-null object
delivery_method       14321 non-null float64
description           14337 non-null object
email_domain          14337 non-null object
event_created         14337 non-null datetime64[ns]
event_end             14337 non-null datetime64[ns]
event_published       14238 non-null datetime64[ns]
event_start           14337 non-null datetime64[ns]
fb_published          14337 non-null int64
gts                   14337 non-null float64
has_analytics         14337 non-null int64
has_header            8928 non-null float64
has_logo              14337 non-null int64
listed                14337 non-null object
name                  14337 non-null object
name_length           14337 non-null int64
num_order             14337 non-null int64
num_payouts           14337 non-null int64
object_id             14337 non-null int64
org_desc              14337 non-null object
org_facebook          14278 non-null float64
org_name              14337 non-null object
org_twitter           14278 non-null float64
payee_name            14337 non-null object
payout_type           14337 non-null object
previous_payouts      14337 non-null object
sale_duration         14182 non-null float64
sale_duration2        14337 non-null int64
show_map              14337 non-null int64
ticket_types          14337 non-null object
user_age              14337 non-null int64
user_created          14337 non-null datetime64[ns]
user_type             14337 non-null int64
venue_address         14337 non-null object
venue_country         13261 non-null object
venue_latitude        13261 non-null float64
venue_longitude       13261 non-null float64
venue_name            13261 non-null object
venue_state           13261 non-null object
dtypes: datetime64[ns](6), float64(8), int64(13), object(17)
memory usage: 4.9+ MB

In [53]:
df['gts']

0            0.00
1          868.02
2         3500.00
3         1167.35
4         2313.15
5          302.57
6          832.64
7          220.64
8         3706.36
9          535.84
10         750.00
11         685.44
12         178.00
13         833.14
14        1038.56
15        2723.44
16        2146.44
17          34.62
18        1996.00
19       14424.18
20        3855.28
21         106.49
22         268.70
23         132.00
24        1326.48
25         107.48
26         634.98
27        5860.00
28       10438.00
29        1485.14
           ...
14307      154.00
14308    16615.46
14309     4709.83
14310       16.82
14311      460.00
14312     2709.86
14313     1020.00
14314     1272.08
14315      115.72
14316    12319.15
14317      143.56
14318      472.16
14319      750.00
14320       18.98
14321      618.94
14322       35.00
14323      203.71
14324      385.50
14325        0.00
14326      102.72
14327     1405.00
14328       22.86
14329       23.38
14330       40.00
14331     4950.00
14332        0.00
14333     9626.30
14334       22.09
14335      170.00
14336      901.04
Name: gts, Length: 14337, dtype: float64